* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #191634;
  --accent-color: #f5f5f5;
  --muted-color: #4b4b60;
  --ring-color: #191634;
  --ring-offset-color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--primary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1.5rem;
}

.fixer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.page-description {
  font-size: 1rem;
  color: var(--muted-color);
  text-align: center;
  max-width: 62rem;
  margin: 0 auto 4.5rem;
}

.button-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 1rem 0 #0000000c;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.75rem;
}

.button-card__button {
  font-size: 1rem;
  border: none;
  height: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: all 0.25s;
  cursor: pointer;
  position: relative;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
}

.button-card__button:focus-visible {
  --ring-offset-width: 2px;
  --ring-width: 2px;
  box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color),
    0 0 0 calc(var(--ring-offset-width) + var(--ring-width)) var(--ring-color);
  outline: none;
}

.button-card__title {
  font-size: 0.875rem;
  color: var(--muted-color);
  text-align: center;
  font-weight: 600;
}

svg {
  width: 1.125rem;
  height: 1.125rem;
}

/* Button 1 */
.button-1 {
  color: #ffffff;
  background-color: #16a34a;
}
.button-1:hover {
  background-color: #15803d;
}
.button-1:focus-visible {
  --ring-color: #16a34a;
}

/* Button 2 */
.button-2 {
  padding: 0;
  width: 2.5rem;
  background-color: #ff4141;
  color: #ffffff;
}
.button-2:hover {
  background-color: #ff1717;
}
.button-2:focus-visible {
  --ring-color: #ff4141;
}

/* Button 3 */
.button-3 {
  border: 1px solid #cbcbcb;
}
.button-3:hover {
  background-color: #f5f5f5;
}

/* Button 4 */
.button-4 {
  padding: 0;
  width: 2.5rem;
  border: 1px solid #cbcbcb;
}
.button-4:hover {
  background-color: #f5f5f5;
}

/* Button 5 */
.button-5 {
  border: 1px solid #cbcbcb;
}
.button-5:hover {
  background-color: #f5f5f5;
}

/* Button 6 */
.button-6 {
  color: #86198f;
  border: 1px solid #86198f;
  background-color: #fcefff;
}
.button-6:hover {
  background-color: #86198f;
  color: #ffffff;
}
.button-6:focus-visible {
  --ring-color: #86198f;
}

/* Button 7 */
.button-7 {
  background-color: #6366f1;
  box-shadow: 0px 4px 0 0 #3730a3;
  color: #ffffff;
  border-radius: 1rem;
}
.button-7:hover {
  background-color: #585af2;
}
.button-7:focus-visible {
  --ring-color: #6366f1;
}

/* Button 8 */
.button-8 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-8::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #ea580c;
}
.button-8::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c2410c;
}
.button-8:hover::before {
  width: 100%;
}
.button-8:focus-visible {
  --ring-color: #ea580c;
}

/* Button 9 */
.button-9 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-9::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #c026d3;
}
.button-9::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #a21caf;
}
.button-9:hover::before {
  width: 100%;
}
.button-9:focus-visible {
  --ring-color: #c026d3;
}

/* Button 10 */
.button-10 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-10::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #334155;
}
.button-10::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: #1e293b;
}
.button-10:hover::before {
  width: 100%;
}
.button-10:focus-visible {
  --ring-color: #334155;
}

/* Button 11 */
.button-11 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-11::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #0891b2;
}
.button-11::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #0e7490;
}
.button-11:hover::before {
  height: 100%;
}
.button-11:focus-visible {
  --ring-color: #0891b2;
}

/* Button 12 */
.button-12 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-12::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #db2777;
}
.button-12::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #be185d;
}
.button-12:hover::before {
  height: 100%;
}
.button-12:focus-visible {
  --ring-color: #db2777;
}

/* Button 13 */
.button-13 {
  overflow: hidden;
  color: #ffffff;
  z-index: 1;
}
.button-13::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #0d9488;
}
.button-13::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  z-index: -1;
  width: 100%;
  height: 0%;
  background-color: #0f766e;
}
.button-13:hover::before {
  height: 100%;
}
.button-13:focus-visible {
  --ring-color: #0d9488;
}

/* Button 14 */
.button-14 {
  background-color: #f5f5f5;
}
.button-14:hover {
  background-color: #e8e8e8;
}

/* Button 15 */
.button-15 {
  background-color: transparent;
}
.button-15:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* Button 16 */
.button-16 {
  background-color: transparent;
  border: 2px solid #191634;
  border-radius: 0;
}
.button-16 span {
  position: relative;
  z-index: 20;
}
.button-16:before,
.button-16:after {
  content: "";
  position: absolute;
  background: #ffffff;
  transition: all 0.2s linear;
}
.button-16:before {
  width: calc(100% + 4px);
  height: calc(100% - 14px);
  top: 7px;
  left: -2px;
}
.button-16:after {
  width: calc(100% - 14px);
  height: calc(100% + 4px);
  top: -2px;
  left: 7px;
}
.button-16:hover:before {
  height: calc(100% - 24px);
  top: 12px;
}
.button-16:hover:after {
  width: calc(100% - 24px);
  left: 12px;
}

/* Button 17 */
.button-17 {
  color: #b91c1c;
  border: 1px solid transparent;
  background-color: #fff0f0;
}
.button-17:hover {
  border: 1px solid #b91c1c;
}
.button-17:focus-visible {
  --ring-color: #b91c1c;
}

/* Button 18 */
.button-18 {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #0284c7;
}
.button-18:hover {
  background-color: #ffffff;
  border: 1px solid #0284c7;
  color: #0284c7;
}
.button-18:focus-visible {
  --ring-color: #0284c7;
}

/* Button 19 */
.button-19 {
  color: #ffffff;
  background-size: 220% auto;
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #525455 51%,
    #232526 100%
  );
}
.button-19:hover {
  background-position: 96% center;
}
.button-19:focus-visible {
  --ring-color: #232526;
}

/* Button 20 */
.button-20 {
  color: #ffffff;
  background-size: 220% auto;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.button-20:focus-visible {
  --ring-color: #da22ff;
}
.button-20:hover {
  background-position: 96% center;
}

/* Button 21 */
.button-21 {
  padding: 0;
  height: fit-content;
  border-radius: 0;
}
.button-21:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #191634;
  transition: 0.2s all;
}
.button-21:hover:after {
  width: 100%;
}

/* Button 22 */
.button-22 {
  background-color: #2b3044;
  color: #ffffff;
  font-weight: 700;
}
.button-22:hover {
  background-color: #191634;
}
.button-22 span {
  background: linear-gradient(90deg, #ff88f1, #ffb082, #ffea8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: block;
}

/* Button 23 */
.button-23 {
  background-color: #e11d48;
  color: #ffffff;
  overflow: hidden;
  width: 6rem;
}
.button-23 span:first-child {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all;
}
.button-23 span:last-child {
  position: absolute;
  width: 100%;
  top: 150%;
  transform: translateY(-50%);
  transition: 0.3s all;
}
.button-23:hover span:first-child {
  top: -100%;
}
.button-23:hover span:last-child {
  top: 50%;
}
.button-23:focus-visible {
  --ring-color: #e11d48;
}

/* Button 24 */
.button-24 {
  padding: 0;
  background-color: #191634;
}
.button-24 span {
  border: 2px solid #191634;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: translateY(-0.25rem);
}
.button-24:hover span {
  transform: translateY(0rem);
}

/* Button 25 */
.button-25 {
  background-color: #4f46e5;
  color: #ffffff;
  transform: skewX(-8deg);
  width: 6rem;
  border-radius: 0;
}
.button-25 span {
  position: absolute;
  transform: skewX(8deg);
}
.button-25::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #4338ca;
  transition: all 0.35s;
}
.button-25:hover::before {
  width: 100%;
}
.button-25:focus-visible {
  --ring-color: #4f46e5;
}

/* Button 26 */
.button-26 {
  color: #be185d;
  border: 1px solid #be185d;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.button-26:hover {
  color: #ffffff;
}
.button-26::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -20%;
  transform: skewX(45deg);
  background-color: #be185d;
  transition: 0.35s all;
  z-index: -1;
}
.button-26:hover::before {
  width: 140%;
}
.button-26:focus-visible {
  --ring-color: #be185d;
}

/* Button 27 */
.button-27 {
  color: #16a34a;
  border: 1px solid #16a34a;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.button-27:hover {
  color: #ffffff;
}
.button-27::before {
  content: "";
  position: absolute;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  transform: scale(0);
  background-color: #16a34a;
  transition: 0.4s all;
  z-index: -1;
}
.button-27:hover::before {
  transform: scale(1);
}
.button-27:focus-visible {
  --ring-color: #16a34a;
}

/* Button 28 */
.button-28 {
  background-color: #1e293b;
  color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.button-28::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 0;
  transform: rotate(45deg);
  background-color: #ffffff20;
  transition: 0.35s all;
  z-index: -1;
}
.button-28:hover::before {
  width: 110%;
}
.button-28:focus-visible {
  --ring-color: #1e293b;
}

/* Button 29 */
.button-29 {
  background-color: #6d28d9;
  color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.button-29::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 0;
  left: -20%;
  transform: rotate(45deg);
  background-color: #ffffff20;
  transition: 0.4s all;
  z-index: -1;
}
.button-29:hover::before {
  width: 130%;
}
.button-29:focus-visible {
  --ring-color: #6d28d9;
}

/* Button 30 */
.button-30 {
  padding: 0;
  height: fit-content;
  border-radius: 0;
}
.button-30:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  position: absolute;
  width: 0%;
  left: 0;
  height: 1px;
  background-color: #191634;
  transition: 0.2s all;
}
.button-30:hover:after {
  width: 100%;
}

/* Button 31 */
.button-31 {
  background-color: #ea580c;
  color: #ffffff;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
}
.button-31::after,
.button-31::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 50%;
  z-index: -1;
  transition: 0.3s ease-out;
  background-color: #f26c25;
}
.button-31::after {
  left: 21.5%;
  transform: skew(90deg) translate(-50%, -50%);
}
.button-31::before {
  top: -50%;
  left: -21.5%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.button-31:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.button-31:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.button-31:focus-visible {
  --ring-color: #ea580c;
}

/* Button 32 */
.button-32 {
  background-color: #4f46e5;
  color: #ffffff;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
}
.button-32:hover {
  box-shadow: 0 0 0 5px #3b83f65f;
}
.button-32:focus-visible {
  --ring-color: #4f46e5;
}

/* Button 33 */
.button-33 {
  border-radius: 0;
  z-index: 1;
}
.button-33:before {
  content: "";
  pointer-events: none;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #be123c;
  transition: 0.2s all;
}
.button-33::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #be123c;
  transition: 0.25s ease;
  z-index: -1;
}
.button-33:hover:before {
  width: 100%;
}
.button-33:hover::after {
  height: 100%;
  transition-delay: 0.25s;
}
.button-33:hover {
  color: #ffffff;
  transition-delay: 0.25s;
}

/* Button 34 */
.button-34 {
  color: #0f172a;
  border: 1px solid #0f172a;
  transition: 0.4s all;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.button-34:hover {
  color: #ffffff;
}
.button-34::before {
  content: "";
  position: absolute;
  height: 12rem;
  width: 12rem;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: scale(0);
  background-color: #0f172a;
  transition: 0.4s all;
  z-index: -1;
}
.button-34:hover::before {
  transform: scale(1.5);
}
.button-34:focus-visible {
  --ring-color: #0f172a;
}

/* Button 35 */
.button-35 {
  padding: 0;
  border-radius: 0;
  background-color: #191634;
  color: #ffffff;
}
.button-35 span {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #059669;
  transform: translate(0.25rem, -0.25rem);
}
.button-35:hover span {
  transform: translateY(0rem);
  background: #047857;
}

/* Button 36 */
.button-36 {
  padding: 0;
  background-color: #191634;
  border-radius: 3rem;
}
.button-36 span {
  border: 2px solid #191634;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 3rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: translateY(0rem);
}
.button-36:hover span {
  transform: translateY(-0.25rem);
}

/* Button 37 */
.button-37 {
  background-color: #6d28d9;
  color: #ffffff;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
}
.button-37:hover {
  transform: translateY(-0.25rem);
}
.button-37:focus-visible {
  --ring-color: #6d28d9;
}

/* Button 38 */
.button-38 {
  color: #ffffff;
  border-radius: 3rem;
  z-index: 1;
}
.button-38::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #db2777;
  border-radius: 3rem;
  transition: 0.4s all;
  z-index: -1;
}
.button-38:hover::before {
  animation: jello-horizontal 0.9s both;
}
.button-38:focus-visible {
  --ring-color: #db2777;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* Button 39 */
.button-39 {
  color: #ffffff;
  border-radius: 3rem;
  background-color: #0891b2;
}
.button-39:hover {
  animation: shake3856 0.3s linear infinite both;
}
.button-39:focus-visible {
  --ring-color: #0891b2;
}
@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* Button 40 */
.button-40 {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.button-40:before {
  content: "";
  pointer-events: none;
  top: -2px;
  position: absolute;
  width: 0%;
  right: 0;
  height: 2px;
  background-color: #191634;
  transition: 0.2s all;
}
.button-40:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  position: absolute;
  width: 0%;
  left: 0;
  height: 2px;
  background-color: #191634;
  transition: 0.2s all;
}
.button-40:hover:before {
  width: 100%;
}
.button-40:hover:after {
  width: 100%;
}

/* Button 41 */
.button-41 {
  padding: 0;
  background-color: #191634;
  color: #ffffff;
}
.button-41 span {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191634;
}
.button-41:hover span {
  transform: translate(0.25rem, -0.25rem);
  background: #ff4141;
}

/* Button 42 */
.button-42 {
  padding: 0;
  background-color: #7c2d12;
  border-radius: 0;
  color: #ffffff;
}
.button-42 span {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0.25rem, -0.25rem);
  background-color: #ea580c;
}
.button-42:hover {
  transform: translate(0.25rem, -0.25rem);
}
.button-42:hover span {
  transform: translate(-0.25rem, 0.25rem);
}

/* Button 43 */
.button-43 {
  padding: 0;
  background-color: #191634;
  color: #ffffff;
}
.button-43 span {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0.25rem, -0.25rem);
  border: 2px solid #191634;
  background-color: #059669;
}
.button-43:hover {
  background-color: #059669;
  color: #059669;
}
.button-43:hover span {
  border: 2px solid #059669;
  background-color: #ffffff;
}

/* Button 44 */
.button-44:hover {
  letter-spacing: 1.2px;
  background-color: #e8e8e8;
}

/* Button 45 */
.button-45 {
  color: #7e22ce;
  background-color: #f3e8ff;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;
}
.button-45:hover {
  transform: scale(1.1);
  background-color: #7e22ce;
  color: #ffffff;
}
.button-45:active {
  transform: scale(0.9);
}
.button-45:focus-visible {
  --ring-color: #7e22ce;
}
